@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');

:root {
  --coral: #f3776e;
  --blush: #feeff1;
  --white: #ffffff;
  --text-dark: #86878a;
  --coral-dark: #d85f58;
  --error-red: #dc3545;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

body {
  margin: 0;
  background: var(--blush);
  font-family: 'Outfit', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}
